.header {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 33px;
	color: #c6d6c9;
}

.header:before {
	content: '';
	display: block;
	width: 100%;
	flex: 0 0 45vh;
	background-image: url('../img/header/main.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.header__container {
	position: relative;
	width: 100%;
	flex: 1 1 auto;
}

.navigation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navigation__item:not(:last-child) {
	margin-bottom: 30px;
}

.navigation__link {
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 30px;
	background-color: #242527;
	border-radius: 2px;
	padding: 10px 0;
}

.navigation__link:hover .navigation__arrow, 
.navigation__link:hover .navigation__arrow:before, 
.navigation__link:hover .navigation__arrow:after {
	background-color: #af4c1e;
}

.navigation_blue, .navigation_purple {
	transition: color .3s;
}

.navigation__link:hover .navigation_blue {
	color: #2a97a7;
}

.navigation__link:hover .navigation_purple {
	color: #883672;
}

.navigation__arrow {
	position: relative;
	flex: 0 0 3px;
	height: 25px;
	background-color: #c6d6c9;
	transform: rotate(45deg);
	transition: background-color .3s;
}

.navigation__arrow:before, 
.navigation__arrow:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 16px;
	background-color: #c6d6c9;
	border-radius: 1px;
	transition: background-color .3s;
}

.navigation__arrow:before {
	transform: rotate(45deg) translateX(-7px);
}

.navigation__arrow:after {
	transform: rotate(-45deg) translateX(7px);
}

.navigation__arrow_back {
	transform: rotate(-90deg);
}